h1 {
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: black;
    margin-bottom: auto;
    width: auto;
}

.p1 {
margin-top: 10px;
font-style: italic;
color: darkcyan;
}

.p2 {
    margin-top: -3px;
    margin-bottom: 0px;
}

.p3 {
    margin-top: auto
}

.img2 {
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: center;
}

h2 {
    text-align: center;
    margin-top: -10px;
    color: darkcyan;
}

.ingredients {
    margin-top: -18px;
    font-style: italic;
    color: purple;
}

.ingredients2 {
    
    margin-top: -12px;
    font-style: italic;
    color: purple;
}

.list {
    background-color: lightgray;
    margin-top: -15px;
    border: 3px solid;
    width: 250px center;
}

.directions {
    margin-top: -15px;
    color: orange;
}

.back {
    background-color: black;
    width: 40px;
}

a {
    color: white;
}

.description {
    margin-top: -15px;
    font-style: italic;
    border: 3px solid black;
    background-color: lightgrey;
}

.body1 {
    text-align: center;
}